
.ipynb_checkpoints/5 quest-checkpoint.ipynb
.ipynb_checkpoints/Happy ticket-checkpoint.ipynb
.ipynb_checkpoints/S of square, circle, triangle-checkpoint.ipynb
.ipynb_checkpoints/while loop_1-checkpoint.ipynb
.ipynb_checkpoints/while loop_2-Copy1-checkpoint.ipynb
Happy ticket.ipynb
while loop.ipynb
